body {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
}
.nav-menu-logo {
    margin-top: 63px;
    margin-bottom: 38px;
}
.nav-menu-logo a{
    font-size: 80px;
    line-height: 94px;
    color: #000000;
}
.nav-menu-logo-selected {
    color: #4bcaff;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.nav-menu {
    width: 1283px;
    height: 73px;
    background: #35444F;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .nav-menu-link {
    justify-content: center;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    color: #FFFFFF;
    padding-bottom: 18px;
    padding-top: 27px;
    padding-right: 40px;
    padding-left: 40px;
    margin: auto;
    border: 1px solid #FFFFFF;
    background: #35444F;
}
  .nav-menu-link:hover {
    background: #222F3A
}
.main {
    display: flex;
}
.vertical-menu {
    margin-top: 48px;
    width: 344px;
    height: 399px;
    border: 1px solid #000000;
}
.vertical-menu a {
    background-color: rgba(0, 0, 0, 0.0001);
    color: #495863;
    display: block;
    padding: 26px; 
    font-size: 27px;
    line-height: 27px;
    padding-left: 44px;
}

.vertical-menu a:hover {
    background-color: #DBDBDB; 
    font-size: 27px;
    line-height: 27px;
    color: #35444F;
    text-align: center;

}
.main-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.main-block {
    width: 885px;
    height: 832px;
    margin-left: 52px;
    margin-top: 48px;
}
.block-with-logo {
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    display: inline-block; 
    overflow: hidden;
}
.block-with-logo img {
    padding: 75px 268px 73px 297px;
    transition: 1s;
    display: block;
}

.block-with-logo img:hover {
    transform: scale(1.2);
}
.main-text-first {
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer-menu {
    display: flex;
    background: rgba(99, 105, 110, 0.48);
    text-align: center;
    padding: 20px 21px;
    margin-top: 54px;
    margin-bottom: 30px;
}
.footer-menu-item a {
    justify-content: center;
    font-size: 28px;
    line-height: 28px;
    align-items: center;
    color: #0C1927;
    margin-right: 40px;
}
.footer-menu-item a:hover {
    color: #4388a8;
    text-decoration: underline;
}
.footer-menu-copyright-link {
    color: #010101;
    font-size: 24px;
    line-height: 24px;
    margin-left: 85px;
    margin-right: 40px;
}
